---
import Layout from '../layouts/Layout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import MissionStoriaSection from '../components/sections/MissionStoriaSection.astro';
import ServiziSection from '../components/sections/ServiziSection.astro';
import RecensioniSection from '../components/sections/RecensioniSection.astro';
import LavoriSection from '../components/sections/LavoriSection.astro';
import ContattiSection from '../components/sections/ContattiSection.astro';
---

<Layout schema={true} identityRedirect={true}>
  <SiteHeader />
  <main>
    <HeroSection />
    <MissionStoriaSection />
    <ServiziSection />
    <RecensioniSection />
    <LavoriSection />
    <ContattiSection />
  </main>
  <SiteFooter />
</Layout>
